################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Teams_Messaging_BOT/v16
/src/Teams_Messaging_BOT/bin/Debug
/src/Teams_Messaging_BOT/obj
/src/.vs/Teams_Messaging_BOT
/src/Teams_Messaging_BOT_Core/bin/Debug/net7.0
/src/Teams_Messaging_BOT_Core/obj
